[Desktop Entry]
Name=Ingressar no Domínio
Comment=Ferramenta para ingressar o computador no domínio da escola
Exec=/usr/bin/escuela-domain-joiner
Icon=escuela-domain-joiner
Terminal=false
Type=Application
Categories=System;Settings;
Keywords=domain;ad;active directory;join;
